---
import PageHeader from '$core/components/pageHeader.astro'
import Link from './link.astro'
import BlogCard from './BlogCard.astro'

import type { BlogCollection } from '../models/Blog'

export interface Props {
  page: number
  collection: BlogCollection
}

const { page, collection } = Astro.props

const totalPage = collection.totalPages
---

<div
  class="mx-auto max-w-3xl space-y-4 px-3 py-12 sm:px-6 xl:max-w-5xl xl:px-0"
>
  <PageHeader
    title="Blogs"
    description="I usually write about any web-related technologies that I found interesting, and sometime about my personal life as well."
  />
  <ul class="space-y-10 py-12">
    {
      collection.items.map(blog => (
        <li>
          <BlogCard blog={blog} />
        </li>
      ))
    }
  </ul>
  <div class="flex justify-between">
    <Link page={page - 1} max={totalPage}>Previous</Link>
    <div>{page} of {totalPage}</div>
    <Link page={page + 1} max={totalPage}>Next</Link>
  </div>
</div>
