---
import Card from '$core/components/card.astro'

import type { Project } from '../@types/Project'

export interface Props {
  project: Project
}

const { title, year, active, links, description, href } = Astro.props.project
---

<Card title={title} href={links[href]} bottom={links}>
  <p class="text-gray-700">
    <span class="font-semibold">{year} {active ? ' - Present' : ''}</span>
  </p>
  <p>{description}</p>
</Card>
