---
import type { Project } from '../@types/Project'

export interface Props {
  project: Project
}

const { title, year, active, links, description } = Astro.props.project
---

<div
  class="bg-white py-6 rounded-lg shadow-md divide-y-2 divide-dotted divide-gray-300"
>
  <div class="px-6 pb-3">
    <h1 class="font-bold text-xl leading-tight">{title}</h1>
    <div class="flex space-x-2 flex-wrap">
      <span class="my-1">{year}{active ? ' - Present' : ''} ·</span>
      {
        links.map(link => (
          <a href={link.url} class="my-1">
            {link.label}
          </a>
        ))
      }
    </div>
  </div>
  <p class="text-sm pt-6 px-6">{description}</p>
</div>
