---
import Layout from '$app/components/layout.astro'
import Renderer from '$modules/markdown/components/renderer.astro'
import SEO from '$core/components/seo.astro'
import CFImage from '$core/components/cfImage.astro'

import dayjs from 'dayjs'
import getReadingTime from 'reading-time'
import { getEntry } from 'astro:content'

const blog = await getEntry('contentfulBlogs', Astro.params.slug!)

if (!blog) {
  return new Response(undefined, {
    status: 404,
  })
}
---

<Layout>
  <SEO
    slot="seo"
    title={blog.data.title}
    description={blog.data.subtitle}
    image={blog.data.banner}
  />
  <div class="mx-auto max-w-3xl px-3 sm:px-6 xl:max-w-5xl xl:px-0">
    <CFImage
      src={blog.data.banner}
      width={{
        sm: 640,
        md: 768,
        lg: 1024,
        xl: 1280,
        max: 1280,
      }}
      ratio={1500 / 788}
      src={blog.data.banner}
      alt={blog.id}
      transform={{ quality: 85 }}
      fetchpriority="high"
      class="h-auto w-full rounded-b-xl border border-t-0 shadow-md"
      transition:name={`cover-${blog.id}`}
    />
    <div class="mx-auto max-w-3xl pt-4 sm:px-6 xl:max-w-5xl xl:px-0 xl:pt-8">
      <h1
        class="md:leading-14 text-3xl font-extrabold leading-10 tracking-tight text-gray-900 md:text-5xl lg:text-[54px] lg:leading-[64px]"
        transition:name={`title-${blog.id}`}
      >
        {blog.data.title}
      </h1>
      <dl class="mb-6 mt-4">
        <div>
          <dt class="sr-only">Published on</dt><dd
            class="flex flex-wrap text-sm font-medium leading-6 text-gray-500 dark:text-gray-400 md:text-base"
          >
            <time datetime="2023-03-11" class="flex items-center justify-center"
              ><i class="twa twa-calendar inline-block"></i><span
                class="ml-1.5 md:ml-2"
                transition:name={`time-${blog.id}`}
                >{dayjs(blog.data.date).format('D MMMM, YYYY')}</span
              ></time
            ><span class="mx-2"> •</span><div class="flex items-center">
              <i class="twa twa-hourglass-not-done inline-block"></i><span
                class="ml-1.5 md:ml-2"
                >{
                  Math.ceil(
                    getReadingTime(blog.data.content, {
                      wordsPerMinute: 150,
                    }).minutes
                  )
                } mins read</span
              >
            </div>
          </dd>
        </div>
      </dl>
      <Renderer
        class="prose prose-lg prose-blue max-w-none"
        content={blog.data.content}
      />
    </div>
  </div>
  <div class="pb-12"></div>
</Layout>
