---
import Layout from '$app/components/layout.astro'
import ContentfulRenderer from '$modules/markdown/components/contentfulRenderer.astro'
import LocalRenderer from "$modules/markdown/components/localRenderer.astro";
import CoverImage from "$modules/blog/components/coverImage.astro";
import SEO from '$core/components/seo.astro'

import dayjs from 'dayjs'
import getReadingTime from 'reading-time'
import { loadContent } from "$modules/blog/loader";

const blog = await loadContent(Astro.params.slug!)

if (!blog) {
  return new Response(undefined, {
    status: 404,
  })
}

const content = blog.data.content ?? blog.body ?? ''
---

<Layout>
  <SEO
    slot="seo"
    title={blog.data.title}
    description={blog.data.subtitle}
    image={blog.data.type === 'contentful' ? blog.data.banner : blog.data.banner.src}
  />
  <div class="mx-auto max-w-3xl px-3 sm:px-6 xl:max-w-5xl xl:px-0">
    <CoverImage
      src={blog.data.banner}
      alt={blog.id}
      class="h-auto w-full rounded-b-xl border border-t-0 shadow-md"
    />
    <div class="mx-auto max-w-3xl pt-4 sm:px-6 xl:max-w-5xl xl:px-0 xl:pt-8">
      <h1
        class="md:leading-14 text-3xl font-extrabold leading-10 tracking-tight text-gray-900 md:text-5xl lg:text-[54px] lg:leading-[64px]"
        transition:name={`title-${blog.id}`}
      >
        {blog.data.title}
      </h1>
      <dl class="mb-6 mt-4">
        <div>
          <dt class="sr-only">Published on</dt><dd
            class="flex flex-wrap text-sm font-medium leading-6 text-gray-500 dark:text-gray-400 md:text-base"
          >
            <time datetime="2023-03-11" class="flex items-center justify-center"
              ><i class="twa twa-calendar inline-block"></i><span
                class="ml-1.5 md:ml-2"
                transition:name={`time-${blog.id}`}
                >{dayjs(blog.data.date).format('D MMMM, YYYY')}</span
              ></time
            ><span class="mx-2"> •</span><div class="flex items-center">
              <i class="twa twa-hourglass-not-done inline-block"></i><span
                class="ml-1.5 md:ml-2"
                >{
                  Math.ceil(
                    getReadingTime(content, {
                      wordsPerMinute: 150,
                    }).minutes
                  )
                } mins read</span
              >
            </div>
          </dd>
        </div>
      </dl>
      {blog.data.type === 'local' ? (
        <LocalRenderer
          slug={Astro.params.slug!}
          class="prose prose-lg prose-blue max-w-none"
        />
      ) : (
        <ContentfulRenderer
          class="prose prose-lg prose-blue max-w-none"
          content={content}
        />
      )}
    </div>
  </div>
  <div class="pb-12"></div>
</Layout>
