---
import Layout from '$app/components/layout.astro'
import SEO from '$core/components/seo.astro'
import NewCard from '$core/components/card.astro'

import { talks } from '$modules/talks/constants/talks'
import PageHeader from '$core/components/pageHeader.astro'

export const prerender = true
---

<Layout>
  <SEO
    slot="seo"
    title="Talks"
    description="I am an experienced public speaker who is able to deliver keynote talks, as well as participate in panels and networking."
  />

  <div
    class="mx-auto max-w-3xl space-y-4 px-3 py-12 sm:px-6 xl:max-w-5xl xl:px-0"
  >
    <PageHeader
      title="Talks"
      description="I am an experienced public speaker who is able to deliver keynote talks, as well as participate in panels and networking. Furthermore, I also joined the group of Creatorsgarten to help organize various events in the past, and future."
    />

    <section class="mx-auto grid max-w-5xl sm:grid-cols-2 gap-4 py-12">
      {
        talks.map(talk => (
          <NewCard
            title={talk.title}
            href={talk.links[talk.href]}
            image={talk.image}
            bottom={talk.links}
          >
            <p class="text-gray-700">
              {talk.event}
              <span> · </span>
              <span class="font-semibold">{talk.year}</span>
            </p>
            <p>{talk.description}</p>
          </NewCard>
        ))
      }
    </section>
  </div>
</Layout>
