---
import { getPlaiceholder } from 'plaiceholder'
import { clsx } from 'clsx'
import { getOptimizedImageUrl } from '../functions/getOptimizedImageUrl'
import type { OptimizedImageOption } from '../@types/OptimizedImageOption'
import { readFileSystem, writeFileSystem } from '$core/functions/fileSystem'

export interface Props extends Omit<astroHTML.JSX.ImgHTMLAttributes, 'width'> {
  src: string
  width:
    | number
    | {
        max: number
        sm?: number
        md?: number
        lg?: number
        xl?: number
        [key: number]: number
      }
  ratio: number
  fetchpriority?: 'high' | 'low' | 'auto'
  transform?: OptimizedImageOption
}

let {
  ratio,
  width,
  transform = {},
  src,
  class: className,
  alt,
  ...props
} = Astro.props
let sources: astroHTML.JSX.SourceHTMLAttributes[] = []

if (src.startsWith('//')) src = `https:${src}`

const getBreakpointWidth = (key: string | number) => {
  switch (key) {
    case 'sm':
      return 640
    case 'md':
      return 768
    case 'lg':
      return 1024
    case 'xl':
      return 1280
    case 'max':
      return 1536
    default:
      return key
  }
}

const originalWidth = typeof width === 'number' ? width : width.max
const originalHeight = Math.floor(originalWidth / ratio)

// uses cloudflare image optimization on prod
if (import.meta.env.PROD || true) {
  const formats: OptimizedImageOption['format'][] = ['webp', 'avif']

  sources = formats.map(format => {
    return {
      srcset:
        typeof width === 'number'
          ? getOptimizedImageUrl(src, {
              width,
              height: Math.floor(width / ratio),
              fit: 'crop',
              format,
              ...transform,
            })
          : Object.entries(width)
              .map(
                ([key, value]) =>
                  [getBreakpointWidth(key), value] as [number, number]
              )
              .sort((a, b) => a[0] - b[0])
              .map(
                ([breakpoint, width]) =>
                  `${getOptimizedImageUrl(src, {
                    width,
                    height: Math.floor(width / ratio),
                    fit: 'crop',
                    format,
                    ...transform,
                  })} ${breakpoint}w`
              )
              .join(', '),
      type: `image/${format}`,
    }
  })

  src = getOptimizedImageUrl(src, {
    width: originalWidth,
    height: originalHeight,
    fit: 'crop',
    ...transform,
  })
}

const mergedProps: astroHTML.JSX.ImgHTMLAttributes = {
  ...props,
  loading: props.loading ?? 'lazy',
  alt,
}

/**
 * Image with placeholder
 */
type PlaiceholderCSS = Awaited<ReturnType<typeof getPlaiceholder>>['css']
const plaiceholderSize = 10
const plaiceholderKey = ['plaiceholder', src, plaiceholderSize]
let plaiceholderCSS = await readFileSystem<PlaiceholderCSS>(
  plaiceholderKey
).then(o => o?.data)
if (!plaiceholderCSS) {
  try {
    const buffer = await fetch(src).then(async o => {
      if (o.ok) return Buffer.from(await o.arrayBuffer())
      else throw Error('plaiceholder-fetch-failed')
    })
    const { css } = await getPlaiceholder(buffer, { size: plaiceholderSize })
    plaiceholderCSS = css
    await writeFileSystem<PlaiceholderCSS>(
      plaiceholderKey,
      css,
      365 * 24 * 60 * 60 * 1000 // 1 year
    )
  } catch (e) {
    console.log('plaiceholder failed for image: ', src)
  }
}
---

<div class={clsx('relative overflow-hidden', className)}>
  <div
    style={plaiceholderCSS}
    class="absolute inset-0 w-full h-screen scale-150 blur-2xl z-[-1]"
  >
  </div>
  <picture>
    {sources.map(o => <source {...o} />)}
    <img
      src={src}
      width={originalWidth}
      height={originalHeight}
      style={`aspect-ratio:${originalWidth}/${originalHeight};`}
      class="object-cover"
      {...mergedProps}
    />
  </picture>
</div>
