---
import Layout from '$app/components/layout.astro'
import SEO from '$core/components/seo.astro'

import dayjs from 'dayjs'
import getReadingTime from 'reading-time'
import { getGardenPost } from '$modules/garden/functions/getGardenPost'

import Renderer from '../../modules/markdown/components/contentfulRenderer.astro'

const { slug } = Astro.params

const gardenContent = await getGardenPost(slug ?? '')
// const blocks = await getPageBlocks(targetPageDatabase.id)

if (!gardenContent) {
  return new Response(undefined, {
    status: 404,
  })
}
---

<Layout>
  <SEO slot="seo" title={gardenContent.title} />
  <div
    class="mx-auto max-w-3xl space-y-4 px-3 py-12 sm:px-6 xl:max-w-5xl xl:px-0"
  >
    <h1
      class="md:leading-14 text-3xl font-extrabold leading-10 tracking-tight text-gray-900 md:text-5xl lg:text-[54px] lg:leading-[64px]"
      transition:name={`title-${slug}`}
    >
      {gardenContent.title}
    </h1>
    <dl class="mb-6 mt-4">
      <div>
        <dt class="sr-only">Published on</dt><dd
          class="flex flex-wrap text-sm font-medium leading-6 text-gray-500 dark:text-gray-400 md:text-base"
        >
          <time datetime="2023-03-11" class="flex items-center justify-center"
            ><i class="twa twa-calendar inline-block"></i><span
              class="ml-1.5 md:ml-2"
              transition:name={`time-${slug}`}
              >{dayjs(gardenContent.date).format('D MMMM, YYYY')}</span
            ></time
          ><span class="mx-2"> •</span><div class="flex items-center">
            <i class="twa twa-hourglass-not-done inline-block"></i><span
              class="ml-1.5 md:ml-2"
              >{
                Math.ceil(
                  getReadingTime(gardenContent.content, {
                    wordsPerMinute: 150,
                  }).minutes
                )
              } mins read</span
            >
          </div>
        </dd>
      </div>
    </dl>
    <Renderer
      class="prose prose-lg prose-blue max-w-none"
      content={gardenContent.content}
    />
  </div>
</Layout>
